*{
    background-color:white;
}

*{box-sizing: border-box;}
.ReForm{
    padding: 16px;
    text-align: center;
}
#email ,#fName , #lName, #psw, #repsw {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
    
}
input [type = text]:focus , input [type = password] :focus{
    background-color: #ddd;
    outline: none;
}
hr{
    border: 2px solid #f1f1f1;
}
.Registerbtn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.Registerbtn:hover{
    opacity: 1;
}
/* 
add a blue text color to links
*/
a{
    color: dodgerblue;
}
.SignForm{
    background-color: #f1f1f1;
    text-align: center;
}

